<div id="close-container" class="fadeIn jumbotron"
	style="margin-top: 15px; height: 83vh;">
	<div style="margin-bottom: 15px;">
		<button id="x" (click)="closeThis()" type="button"
			class="btn btn-default">
			<i></i> <span>X</span>
		</button>
	</div>
	<ng-sidebar-container style="height: 78vh; width: 100%;">
	<ng-sidebar [opened]="true" [dock]="true" [dockedSize]="'150px'"
		style="">
	<ul class="nav menu">
		<li>Factory Order# :</li>
		<li>PO# :</li>
		<li>Product# :</li>
		<li>Product Color :</li>
		<li>Imprint Type :</li>
		<li>Imprint Color :</li>
		<li>Qty :</li>
		<li>email@email.com</li>
		<li>
		<li role="presentation" class="divider"></li>
		<li><button type="button"
				style="margin-top: 0.5rem; margin-bottom: 0.5rem; min-width: 150px;"
				class="btn btn-primary">
				<i class="fa far fa-comment"></i> <span>Comment</span>
			</button></li>
		<li><button type="button" (click)="openImageDialog()"
				style="margin-top: 0.5rem; margin-bottom: 0.5rem; min-width: 150px;"
				class="btn btn-primary">
				<i class="fa fas fa-search-plus"></i> <span>Zoom In</span>
			</button></li>
		<li><button type="button" (click)="openImageDialog()"
				style="margin-top: 0.5rem; margin-bottom: 0.5rem; min-width: 150px;"
				class="btn btn-primary">
				<i class="fa fas fa-search-minus"></i> <span>Zoom Out</span>
			</button></li>
		<li><button type="button"
				style="margin-top: 0.5rem; margin-bottom: 0.5rem; min-width: 150px;"
				class="btn btn-primary">
				<i class="fa fas fa-expand"></i> <span>Fit to Page</span>
			</button></li>
		<li><button type="button" (click)="openPdf()"
				style="margin-top: 0.5rem; margin-bottom: 0.5rem; min-width: 150px;"
				class="btn btn-primary">
				<i class="fa fas fa-download"></i> <span>Download Proof</span>
			</button></li>


	</ul>
	</ng-sidebar>
	<div ng-sidebar-content>
		<div style="margin-left: 50px; padding-left: 5px; padding-right: 5px;">
			<div > 

			<div class="row">
				<div class="col-md-4"  *ngFor="let dumb of dummy">
				<mat-card class="card"> <mat-card-header>
				<div mat-card-avatar class="card-header-image"></div>
				<mat-card-title>Title</mat-card-title> 
				<mat-card-subtitle>Version 1.0</mat-card-subtitle> 
				</mat-card-header> 
				<img mat-card-image> 
				<mat-card-content>
				<p></p>
				<img mat-card-image
					src="https://chentek.github.io/portal/assets/images/art_sample.png"
					alt="filename"> 
				</mat-card-content> 
				<mat-card-actions>
				<button mat-button (click)="openPdf()">Download</button>
				<button mat-button (click)="openImageDialog()">Zoom</button>
				</mat-card-actions> 
				</mat-card>
				</div>
			</div>
		</div>
		</div>
	</div>
	</ng-sidebar-container>
</div>
<!-- 
	<div class="row" style="padding: 0px; margin:0px;">
	<!-- side bar --
		<div class="col-md-2 small_note">
        <ul class="nav menu">
    <li>Factory Order# :</li>
    <li>PO# : </li>
	<li>Product# :</li>
	<li>Product Color :</li>
	<li>Imprint Type :</li>
	<li>Imprint Color :</li>
	<li>Qty :</li>
	<li>email@email.com</li>
    <li><li role="presentation" class="divider"></li>
    <li><button type="button"
					style="margin-top: 0.5rem; margin-bottom: 0.5rem; min-width: 150px;"
					class="btn btn-primary">
					<i class="fa far fa-comment"></i> <span>Comment</span>
				</button></li>
    <li><button type="button"
					style="margin-top: 0.5rem; margin-bottom: 0.5rem; min-width: 150px;"
					class="btn btn-primary">
					<i class="fa fas fa-search-plus"></i> <span>Zoom In</span>
				</button></li>
    <li><button type="button"
					style="margin-top: 0.5rem; margin-bottom: 0.5rem; min-width: 150px;"
					class="btn btn-primary">
					<i class="fa fas fa-search-minus"></i> <span>Zoom Out</span>
				</button></li>
    <li><button type="button"
					style="margin-top: 0.5rem; margin-bottom: 0.5rem; min-width: 150px;"
					class="btn btn-primary">
					<i class="fa fas fa-expand"></i> <span>Fit to Page</span>
				</button></li>
    <li><button type="button"
					style="margin-top: 0.5rem; margin-bottom: 0.5rem; min-width: 150px;"
					class="btn btn-primary">
					<i class="fa fas fa-download"></i> <span>Download Proof</span>
				</button></li>
  </ul>
	</div>
	<!-- main --
		<div class="col-md-8">Selected: {{selection[0].ext_ref_no}} </div>
	<!-- side bar --
		<div class="col-md-2 small_note" style="background: #000">Selected: {{selection[0].ext_ref_no}} </div>
	</div>
</div> -->